@charset "UTF-8";
/*
 *  rem
 */
/*
 *  rem
 */
/***横竖屏提示浮层***/
.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-v {
  -webkit-box-orient: vertical;
  -ms-flex-direction: column;
  flex-direction: column;
}

.flex-1 {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.flex-align-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.flex-pack-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.flex-pack-justify {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.mask {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
}

.lock {
  background-color: #141414;
  color: #FFFFFF;
  z-index: 9999;
}

.lock-bg {
  width: 4.02rem;
  height: 4.38rem;
  background: url(../img/lock.png) 0 0 no-repeat;
  background-size: contain;
}

.lock-txt {
  font-size: 1.5em;
  margin-top: 0.2rem;
}

@-webkit-keyframes lock {
  0% {
    -webkit-transform: rotate(90deg);
  }
  20% {
    -webkit-transform: translate(0);
  }
  80% {
    -webkit-transform: translate(0);
  }
  100% {
    -webkit-transform: translate(90deg);
  }
}

@keyframes lock {
  0% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  20% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  80% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  100% {
    -webkit-transform: translate(90deg);
            transform: translate(90deg);
  }
}

@media screen and (orientation: portrait) {
  .lock {
    display: none !important;
  }
}

html, body {
  overflow: hidden;
  height: 100%;
}

.wrap {
  position: absolute;
  top: 0%;
  left: 0%;
  margin: 0%;
  border: none;
  padding: 0%;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.threecontainer {
  position: fixed;
  top: 0px;
  left: 0px;
  cursor: pointer;
  opacity: 1;
  z-index: 10;
}

.container {
  width: 100%;
  height: 100%;
  background: #000;
  position: relative;
  display: none;
}

.preload {
  position: absolute;
  z-index: 20;
  background: url(../img/loading.jpg) no-repeat center 30% #000;
  background-size: contain;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

#video {
  display: none;
}

.bgbg {
  background: url(../img/mainbg1.png) no-repeat center;
  background-size: 100%;
  width: 100%;
  height: 3.31rem;
  position: absolute;
  top: 60%;
}

.open-camera {
  display: block;
  background: url(../img/button.gif) no-repeat;
  background-size: cover;
  width: 3.38rem;
  height: 4.47rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  position: absolute;
  top: -0.4rem;
}

.ioswxPanel {
  background: url(../img/01.jpg) no-repeat #fff center 30%;
  width: 100%;
  height: 100%;
  background-size: 7.5rem 9.87rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 200;
  display: none;
}

.openPanel {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 0;
  background: url(../img/mainbg.jpg) no-repeat center -1rem #000;
  background-size: contain;
  z-index: 10;
}

.openPanel .light {
  width: 7.2rem;
  height: 6.83rem;
  background: url(../img/light.gif) no-repeat center top;
  background-size: 100% 100%;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: -1rem;
}

.scan-panel {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}

.scan-panel .scan-boder {
  background: url(../img/scan.gif) no-repeat;
  background-size: 100% 100%;
  width: 5.6rem;
  height: 7.8rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  position: absolute;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  border-left: solid 5rem rgba(0, 0, 0, 0.7);
  border-right: solid 5rem rgba(0, 0, 0, 0.7);
  border-bottom: solid 10rem rgba(0, 0, 0, 0.7);
  top: 16%;
}

.scan-panel .scan-tip {
  background: url(../img/text.png) no-repeat;
  background-size: 100% 100%;
  width: 4.24rem;
  height: 0.35rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  position: absolute;
  top: 8%;
  z-index: 1;
}

.scan-panel .scan-top {
  position: absolute;
  width: 100%;
  height: 16%;
  background: rgba(0, 0, 0, 0.7);
}

.scan-panel .scan-button {
  background: url(../img/scanok.png) no-repeat;
  background-size: 100% 100%;
  width: 6.79rem;
  height: 1.2rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  position: absolute;
  top: 85%;
  z-index: 1;
}

.video-panel {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  display: none;
  z-index: 11;
}

.video-panel .more-button {
  background: url(../img/more.png) no-repeat;
  background-size: 100% 100%;
  width: 6.79rem;
  height: 1.2rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  position: absolute;
  top: 85%;
  z-index: 1;
}

.intro {
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  display: none;
}

.intro .content {
  width: 5.05rem;
  margin-left: 0.44rem;
  margin-top: 0.7rem;
  overflow: hidden;
}

.intro .content img {
  width: 100%;
}

.intro .f-rbutton {
  background: url(../img/pagebutton.png) no-repeat;
  background-size: contain;
  width: 1.28rem;
  height: 4.91rem;
  position: fixed;
  right: 0.3rem;
  top: 0.4rem;
}

.intro .f-rbutton a {
  display: block;
  width: 0.81rem;
  height: 2.24rem;
}

.progress {
  width: 5.85rem;
  height: 0.54rem;
  position: absolute;
  left: 50%;
  top: 70%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: url(../img/progress.png) no-repeat center center;
  background-size: 5.41rem 0.07rem;
}

.progress .progress-inner {
  width: 0;
  height: 0.54rem;
  background: url(../img/progress1.png) no-repeat;
  background-size: 100% 100%;
}

.kqz {
  position: absolute;
  left: 50%;
  top: 75%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: url(../img/kaiqi.png) no-repeat center center;
  background-size: 100% 100%;
  width: 1.1rem;
  height: 0.29rem;
}

#threecontainer {
  display: none;
}

#myvideo {
  display: none;
}
