@import "lib.scss";

html,body{
	overflow: hidden;
	height: 100%;
}

.container{
  width: vw(750);
  height: 100%;
  background: #fff;
  overflow: hidden;
	position: relative;

}
.open-camera{
	display: block;
	background: url(../img/button.png) no-repeat;
	background-size: contain;
  width: vw(665);
	height: vw(88);
	left: 50%;
	transform: translateX(-50%);
	position: absolute;
	top: vw(380);

}
.ioswxPanel{
	background: url(../img/01.jpg) no-repeat #fff center 30%;
	width: 100%;
	height: 100%;
	background-size: vw(750) vw(987);
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
	display: none;
}
.openPanel{
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	background: url(../img/bg.jpg) no-repeat center top;
	background-size: 100% 100%;
	display: none;
	.s-title{
		background: url(../img/subhead.png) no-repeat;
		width: vw(436);
		height: vw(23);
		background-size: contain;
		left: 50%;
		transform: translateX(-50%);
		position: absolute;
		top: vw(75);
	}
	.m-title{
		background: url(../img/heading.png) no-repeat;
		background-size: contain;
		width: vw(644);
		height: vw(145);
		left: 50%;
		transform: translateX(-50%);
		position: absolute;
		top:vw(140);
	}
	.arrow{
		background: url(../img/arrow.png) no-repeat;
		background-size: contain;
		width: vw(162);
		height: vw(32);
		left: 50%;
		transform: translateX(-50%);
		position: absolute;
		top:vw(320);
	}

}

.scan-panel{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	display: none;
	.scan-boder{
		background: url(../img/scan.gif) no-repeat;
		background-size: 100% 100%;
		width: vw(560);
		height: vw(780);
		left: 50%;
		transform: translateX(-50%);
		position: absolute;
		border-left:solid vw(100) rgba(0,0,0,.3);
		border-right:solid vw(100) rgba(0,0,0,.3);
		border-top:solid vw(120) rgba(0,0,0,.3);
		border-bottom: solid vw(500) rgba(0,0,0,.3);
	}
	.scan-tip{
		background: url(../img/text.png) no-repeat;
		background-size: 100% 100%;
		width: vw(424);
		height: vw(35);
		left: 50%;
		transform: translateX(-50%);
		position: absolute;
		top: 5%;
		z-index: 1;

	}
	.scan-button{
		background: url(../img/scanok.png) no-repeat;
		background-size: 100% 100%;
		width: vw(667);
		height: vw(90);
		left: 50%;
		transform: translateX(-50%);
		position: absolute;
		top: 85%;
		z-index: 1;
	}
}
